version: 2
updates:
  - package-ecosystem: "bundler"
    directory: "/"
    cooldown:
      default-days: 7
    groups:
      bundler-production-minor-patch:
        dependency-type: "production"
        update-types:
          - "minor"
          - "patch"
      bundler-development-minor-patch:
        dependency-type: "development"
        update-types:
          - "minor"
          - "patch"
    schedule:
      interval: "weekly"
      day: "saturday"
      time: "06:00"
      timezone: "UTC"
    open-pull-requests-limit: 10
  - package-ecosystem: "github-actions"
    directory: "/"
    cooldown:
      default-days: 7
    groups:
      github-actions-all:
        patterns:
          - "*"
    schedule:
      interval: "weekly"
      day: "saturday"
      time: "06:30"
      timezone: "UTC"
    open-pull-requests-limit: 5
